/* Tabs.module.css */
.tabLabel {
    font-size: 12px;
    font-weight: 600;
}

.tabBarActive {
    color: #6200ee;
}

.tabBarInactive {
    color: #828282;
}

.tabBar {
    background-color: #ffffff;
    padding-bottom: 4px;
    height: 60px;
}

.tabIcon {
    font-size: 24px;
}