/* Tabs.module.css */

.tabIcon {
    transition: color 0.3s ease;
}

.tabBarActive {
    color: #3498db;
    /* Active tab color */
}

.tabBarInactive {
    color: #7f8c8d;
    /* Inactive tab color */
}

.tabBar {
    background-color: #f8f9fa;
    /* Background color of the tab bar */
    border-top: 1px solid #e0e0e0;
    /* Optional border at the top */
    padding-bottom: 5px;
    /* Padding at the bottom of the tab bar */
    height: 50px;
    /* Height of the tab bar */
}